Source: vscpl2drv-socketcan
Section: utils
Priority: optional
Maintainer: Ake Hedman <akhe@grodansparadis.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.vscp.org
Vcs-Browser: https://github.com/grodansparadis/vscpl2drv-socketcan
Vcs-Git: https://github.com/grodansparadis/vscpl2drv-socketcan.git

Package: vscpl2drv-socketcan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6-dev (>= 2.14),
 libstdc++6 (>= 5.2), libgcc1 (>= 1:3.0), libssl-dev (>=1.0)
Description: Level I logger driver for the VSCP daemon
 A driver that can be added to the VSCP server to get logging of level I
 events on a specific file. Filters can be set.
